blinker==1.5
click==8.1.3
Flask==2.2.2
Flask-DebugToolbar==0.13.1
gunicorn==20.1.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
-e git+ssh://git@github.com-public/k-marquis/flask_docker.git@1504c3043d06cd2db337d06f0122d41f978ed8fc#egg=PomoApp_CLI
Werkzeug==2.2.2
