{% extends 'layouts/base.html' %}

{% block title %}Pomo Do'mo - Pomodoro Timer, Notekeeping, and Search{% endblock %}
{% block meta_description %} Be more productive. Block time, take notes, 
search for past sessions and try to keep developing. {% endblock %}

{% block body %}
  <div class="container sm-margin-top">
    <div class="row text-center lg-margin-bottom">
      <h1>PomoDo'mo</h1>
      <h3> </h3>
      <h4 class="text-muted">
       Block your work/study time, record your notes, take a break, and pick it back up!
      </h3>
    </div>
    <div class="row text-center">
      <div class="col-lg-4">
        <i class="fa fa-fw fa-4x fa-play text-primary sm-margin-bottom"></i>
        <h2>Pomodoro Timer</h2>
        <p class="text-muted">Work in blocks.</p>
        <p>
          <a href="#" class="btn btn-primary">Sign up</a>
        </p>
      </div>
      <div class="col-lg-4">
        <i class="fa fa-fw fa-4x fa-book-open text-primary sm-margin-bottom"></i>
        <h2>Record Notes</h2>
        <p class="text-muted">Store the relevant notes, links, and files.</p>
        <p>
          <a href="#" class="btn btn-primary">Sign up</a>
        </p>
      </div>
      <div class="col-lg-4">
        <i class="fa fa-fw fa-4x fa-chart-column text-primary sm-margin-bottom"></i>
        <h2>Visualize</h2>
        <p class="text-muted">Review your progress and stats!</p>
        <p>
          <a href="#" class="btn btn-primary">Sign up</a>
        </p>
      </div>
    </div>
  </div>
{% endblock %}
